body {
  margin-top: 10%;
  padding-left: 60px;
  padding-right: 60px;
}

.middle-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bottom-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.bg-light {
  text-align: center;
}
